.navbar-default {
    background: #08904e;
}
    .navbar-default .navbar-brand {
        color: #fff;
    }
    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav > li.active > a {
        color: #fff;
        background: #0a7742;
    }
    .navbar-default .navbar-nav > .active > a:hover {
        color: #fff;
        background: #05703c;
        font-weight: 600;
    }

#map {
    width: 100%;
    height: 100vh;
    margin: 30px 0 0 0;
}

.page {
    margin: 100px 0 0 0;
}

.panel-primary {
    border-color: #08904e;
    border-radius: 0px;
}

    .panel-primary > .panel-heading {
        border-radius: 0px;
        background-color: #08904e;
        border-color: #08904e;
        border-bottom-color: #08904e;
    }

    .map-panel {
        margin-top: -42%;
    }

.btn.btn-flat{border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}